<footer class="bg-black bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex flex-column flex-row-ns justify-between items-center">
    <a class="f4 fw4 hover-white white-70 dn dib-ns pv2 ph3 no-underline" href="{{ .Site.Home.Permalink }}">
      &copy; {{ with .Site.Copyright | compare.Default .Site.Title }} {{ . | safe.HTML }} {{ now.Format "2006"}} {{ end }}
    </a>
    <nav class="flex flex-wrap justify-center pv2 ph3">
      <a class="f6 fw4 hover-white white-70 dib ph2 pv1 no-underline" href="{{ "impressum/" | relURL }}">Impressum</a>
      <a class="f6 fw4 hover-white white-70 dib ph2 pv1 no-underline" href="{{ "agb/" | relURL }}">AGB</a>
      <a class="f6 fw4 hover-white white-70 dib ph2 pv1 no-underline" href="{{ "datenschutz/" | relURL }}">Datenschutzerklärung</a>
    </nav>
  </div>
</footer>
